body{
    background-color: #192444;
    margin: 5%;
}

.card_container{
    border-radius: 5px;
    background-color: #1f2c56;
    margin: 25px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px #1f2c56;
}

.create_container{
    border-radius: 5px;
    background-color: #1f2c56;
    margin: 18px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px #1f2c56;
}

.create_container1{
    border-radius: 5px;
    background-color: #1f2c56;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px #1f2c56;
}

.dcc_compon{
    margin: 0;
    padding: 5px;
    width: calc(100%-40px);
}

.fix_label{
    font-size: 20px;
    margin: 0;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 8px;
    width: calc(100%-40px);
}

.flex-display{
    display: flex;
    padding-bottom:30px

}

.container-display{
    display: flex;
    padding-bottom:100px

}

#header{
    align-items: center;
}

#refresh-data{
    
}

.radio_items > label {
    padding: .25em .5em;
    cursor: pointer;
    border: 1px solid #28608f;
    margin-right: -1px;
    color: #fff;
    background-color: #428bca;
}


.custom-tab--selected {
    /* color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important; */
    font-size: 23px;
}
